/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,600;1,300&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

@keyframes color {
    0% {
        background: #FED9ED;
    }

    20% {
        background: #E7BCDE;
    }

    40% {
        background: #BB9CC0;
    }

    60% {
        background: #BB9CC0;
    }

    80% {
        background: #67729D;
    }

    100% {
        background: #FED9ED;
    }
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

/* menu */
.main-navbar {
    width:100%;
    padding: 0.5em;
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end; 

}

.main-navbar ul{
    list-style: none;
    padding:0;
    display: flex;
    gap:2em;
}

.btn-toggle{
    position: absolute;
    top:0;
    right:0;
    font-size: 1.5em;
    cursor: pointer;
    opacity:0;
}


/* // */

h3{
    margin:0;
    font-size: 1.5em;
    text-align: center;
}

section.intro {
    background: #FED9ED;
    animation: color 10s infinite linear;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.intro div{
    width:60%;
    font-size: 2em;
}

/* about me */

.about-me, 
.projects,
.contact{
    padding:2em;
    height:100vh;
    font-size: 1.5em;
}

.social{
   text-align: center;
   font-size: 1.5em;
}

.social a{
    margin:0 1em;
}

.social a:hover i{
    color:#67729D
}
/* // */

/* projects */
.projects{
    background-color: #FED9ED;
}

/* contact form */
.contact div{
    display: flex;
    justify-content: center;
    margin:1em 0;
}

#contactForm{
    width:70%;
    padding:1em;
    border: 3px solid #67729D;
    border-radius: 5px;
}

#contactForm label{
    display: block;
    margin-top:1em;
}

#contactForm input, 
textarea{
    font-size: 1em;
    padding:1em;
    font-family:'Work Sans', sans-serif;
    border-radius:5px;
    border: 3px solid #67729D ;
    width:100%;
    outline: none;
}

#contactForm button{
    display: block;
    padding:1.5em;
    font-family: 'Work Sans', sans-serif; 
    font-weight: 500;
    color:#0c0b0b;
    background-color: #fff;
    border:3px solid #67729D ;
    border-radius: 5px;
    cursor:pointer;
    width:100%;
    margin:1em auto;
}

#contactForm button:hover{
    background-color: #67729D;
    color:#fff;
}
/* // */

/* media queries */
@media all and (max-width: 750px) {
    .btn-toggle{
        opacity:1;
    }
    .main-navbar{
        font-size: 2.5em;
        font-weight: 700;
        text-transform: uppercase;
        position:fixed;
        justify-content: right;
        top:0;
        right:0;
    }
    .main-navbar ul{
        text-align: right;
        padding-top:1em;
        flex-direction: column;
    }
    ul.visible{
        display:none;
    }
    nav.background{
        bottom:0;
        background-color: #ffffffee;
    }

    p{
        font-size: 0.9em;
    }

    #contactForm{
        width:100%;
        font-size: 0.9em;
    }
}